<a href="https://colab.research.google.com/github/abhaypatro/Research/blob/main/adasyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from imblearn.over_sampling import ADASYN
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [ ]:
data=pd.read_csv('HR-Employee-Attrition_Pre-processed Data.csv')
print(data.shape)
data.head(5)

(1470, 43)

   Age  Attrition  ...  Sales Executive  Sales Representative
0   41          1  ...                1                     0
1   49          0  ...                0                     0
2   37          1  ...                0                     0
3   33          0  ...                0                     0
4   27          0  ...                0                     0

[5 rows x 43 columns]

In [ ]:
X=data.iloc[:,2:43].values.copy()
Y=data.iloc[:,1].values.copy()

In [ ]:
ada=ADASYN(sampling_strategy='minority', random_state= 420 , n_neighbors = 5)

In [ ]:
X_res, y_res = ada.fit_resample(X,Y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
X_res.shape

(2424, 41)

In [ ]:

X_train,X_test,Y_train,Y_test=train_test_split(X_res,y_res,test_size=0.2,random_state=1)
X_1train,X_1test,Y_1train,Y_1test=train_test_split(X,Y,test_size=0.3,random_state=1)


svc=SVC(kernel='poly', random_state = 0)
svc.fit(X_train,Y_train)
svc1=SVC(kernel='poly', random_state = 0)
svc1.fit(X_1train,Y_1train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
from sklearn.metrics import classification_report,f1_score
pred=svc.predict(X_test)
print(classification_report(Y_test,pred))
pred1=svc1.predict(X_1test)
print(classification_report(Y_1test,pred1))

              precision    recall  f1-score   support

           0       0.79      0.15      0.25       225
           1       0.57      0.97      0.71       260

    accuracy                           0.59       485
   macro avg       0.68      0.56      0.48       485
weighted avg       0.67      0.59      0.50       485

              precision    recall  f1-score   support

           0       0.83      1.00      0.90       364
           1       0.00      0.00      0.00        77

    accuracy                           0.83       441
   macro avg       0.41      0.50      0.45       441
weighted avg       0.68      0.83      0.75       441

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
f1_score(Y_test,pred)
f1_score(Y_1test,pred1)

0.0

In [ ]:
set(pred1)

{0}