In [1]:
pip install h2o

Collecting h2o
  Downloading https://files.pythonhosted.org/packages/32/86/b64475aa453185c594c861c1937bad77dfef2ce1295b850c46e295ae4f18/h2o-3.32.0.5.tar.gz (164.6MB)
     |████████████████████████████████| 164.6MB 98kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.32.0.5-py2.py3-none-any.whl size=164673888 sha256=004bcda3bc844bdf325b33764dddfcf44d8c3f1e1d25db2c59351a63e6a31ff9
  Stored in directory: /root/.cache/pip/wheels/f7/54/f6/f88d58b676e135bbab981238fcf77f27161ec02b7cc893d8c7
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.4 h2o-3.32.0.5

In [2]:
import numpy as np
import pandas as pd

In [5]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.10" 2021-01-19; OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04); OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpr37t_hbs
  JVM stdout: /tmp/tmpr37t_hbs/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpr37t_hbs/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.5
H2O_cluster_version_age:    3 days
H2O_cluster_name:           H2O_from_python_unknownUser_36c2u3
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.180 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.10 final
--------------------------  ------------------------------------------------------------------

In [6]:
model = h2o.load_model("/content/StackedEnsemble_AllModels_AutoML")

In [7]:
test = h2o.import_file("test.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [8]:
test

Age,Attrition,BusinessTravel,DistanceFromHome,Education,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Dept-Human Resouces,Dept-Research & Development,Dept-Sales,EducationField-Human Resources,EducationField-Life Sciences,EducationField-Marketing,EducationField-Medical,EducationField-Other,EducationField-Technical Degree,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
36,0,1,10,4,2,1,3,3,4,1,9980,1,0,14,3,4,0,10,3,2,10,3,9,7,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
33,0,2,25,3,4,1,2,2,2,1,4320,1,0,13,3,4,0,5,2,3,5,3,0,2,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
35,1,3,18,4,4,0,3,2,3,3,4614,0,1,18,3,3,1,5,0,2,4,2,3,2,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
40,0,2,20,4,1,1,3,3,4,3,10322,4,0,20,4,4,1,14,6,3,11,10,11,1,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0
29,1,3,24,2,4,1,2,1,4,1,2439,1,1,24,4,2,0,1,3,2,1,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
30,0,3,3,3,3,0,3,1,3,2,2083,1,0,20,4,3,1,1,2,3,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
34,1,2,24,4,1,0,2,2,2,1,4599,0,1,23,4,3,0,16,2,4,15,9,10,10,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
33,0,1,2,3,4,0,3,2,2,1,5147,8,0,15,3,4,0,13,2,2,11,7,1,7,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
50,0,1,1,3,4,0,3,2,3,3,6347,0,0,12,3,1,1,19,3,3,18,7,0,13,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
56,1,2,14,4,2,0,3,1,2,3,4963,9,1,18,3,1,3,7,2,3,5,4,4,3,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

In [10]:
t=pd.read_csv('test.csv')

In [11]:
t.describe()

              Age   Attrition  ...  Sales Executive  Sales Representative
count  294.000000  294.000000  ...       294.000000            294.000000
mean    37.397959    0.166667  ...         0.231293              0.057823
std      9.410335    0.373313  ...         0.422378              0.233807
min     18.000000    0.000000  ...         0.000000              0.000000
25%     31.000000    0.000000  ...         0.000000              0.000000
50%     36.000000    0.000000  ...         0.000000              0.000000
75%     43.000000    0.000000  ...         0.000000              0.000000
max     60.000000    1.000000  ...         1.000000              1.000000

[8 rows x 43 columns]

In [ ]:
#Taking input the slack variables
slack=[]
for x in t.columns:
  print("Do you want to make ",x," a slack variable ? ( 1 for Yes , 0 for No) ")
  a=input()
  print(a)
  if a=="1":
    slack.append(x)

In [29]:
slack=['BusinessTravel','EnvironmentSatisfaction','JobInvolvement','JobSatisfaction','MonthlyIncome','OverTime','PercentSalaryHike','RelationshipSatisfaction','StockOptionLevel','TrainingTimesLastYear','WorkLifeBalance','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']

In [30]:
slack

['BusinessTravel',
 'EnvironmentSatisfaction',
 'JobInvolvement',
 'JobSatisfaction',
 'MonthlyIncome',
 'OverTime',
 'PercentSalaryHike',
 'RelationshipSatisfaction',
 'StockOptionLevel',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']